@import '@/assets/base.scss';
.sider {
    display: flex;
    width: 500px;
    height: 100%;
    font-size: 12px;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    align-items: stretch;
    >.nav {
        width: 250px;
        flex-grow: 0;
        flex-shrink: 0;
        background: #eee;
        border-right: 1px solid $bcolor1;
        font-size: 12px;
        >.add {
            height: 60px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-left: 40px;
            border-bottom: 1px solid $bcolor1;
            position: relative;
            >.icon {
                fill: $tcolor;
            }
            >span {
                cursor: pointer;
                margin-left: 15px;
                position: relative;
                &::after {
                    content: '';
                    display: inline-block;
                    width: 4px;
                    height: 4px;
                    border: 4px solid transparent;
                    border-top-color: #999;
                    position: absolute;
                    top: 0;
                    right: 0;
                    transform: translateY(7px) translateX(15px);
                }
                &:hover {
                    color: $tcolor;
                }
            }
            >.popover {
                position: absolute;
                top: 50px;
                left: 40px;
                background: #fff;
                color: $tcolor3;
                cursor: pointer;
                border-radius: 4px;
                box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
                z-index: 1;
                >p {
                    padding: 10px 30px 10px 25px;
                    &:first-child {
                        border-top-left-radius: 4px;
                        border-top-right-radius: 4px;
                    }
                    &:last-child {
                        border-bottom-left-radius: 4px;
                        border-bottom-right-radius: 4px;
                    }
                    &:hover {
                        background: $hcolor2;
                    }
                }
            }
        }
        >.recent {
            height: 40px;
            cursor: pointer;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-left: 40px;
            border-top: 1px solid #fff;
            >span {
                margin-left: 15px;
            }
            &:hover {
                background: $hcolor1;
                border-top: none;
            }
            &.active {
                background: $tcolor;
                color: #fff;
                border-top: none;
            }
        }
        >.books {
            height: 40px;
            cursor: pointer;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-left: 40px;
            position: relative;
            >p {
                width: 5px;
                height: 5px;
                border: 5px solid transparent;
                border-top-color: $tcolor3;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-4px) translateX(25px) rotateZ(-90deg);
                &.active {
                    transform: translateY(-1px) translateX(20px);
                }
            }
            >span {
                margin-left: 15px;
            }
            &:hover {
                background: $hcolor1;
            }
            &.active {
                background: $tcolor;
                color: #fff;
                >p {
                    border-top-color: #fff;
                }
            }
        }
        >.book {
            height: 40px;
            cursor: pointer;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-left: 60px;
            position: relative;
            >span {
                margin-left: 15px;
            }
            input {
                width: 150px;
                margin-left: 10px;
                padding: 4px 0 4px 5px;
            }
            >p {
                width: 5px;
                height: 5px;
                border: 5px solid transparent;
                position: absolute;
                top: 0;
                right: 0;
                transform: translateY(18px) translateX(-25px);
            }
            &:hover {
                background: $hcolor1;
                >p {
                    border-top-color: #666;
                }
            }
            &.active {
                background: $tcolor;
                color: #fff;
                &:hover {
                    >p {
                        border-top-color: #fff;
                    }
                }
            }
            >.book-pop {
                position: fixed;
                background: #fff;
                color: $tcolor3;
                cursor: pointer;
                border-radius: 4px;
                box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
                z-index: 1;
                >p {
                    white-space: nowrap;
                    padding: 10px 30px 10px 25px;
                    &:first-child {
                        border-top-left-radius: 4px;
                        border-top-right-radius: 4px;
                    }
                    &:last-child {
                        border-bottom-left-radius: 4px;
                        border-bottom-right-radius: 4px;
                    }
                    &:hover {
                        background: $hcolor2;
                    }
                }
            }
        }
        >.trash {
            height: 40px;
            cursor: pointer;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-left: 40px;
            position: relative;
            >span {
                margin-left: 15px;
            }
            >p {
                width: 5px;
                height: 5px;
                border: 5px solid transparent;
                position: absolute;
                top: 0;
                right: 0;
                transform: translateY(18px) translateX(-25px);
            }
            &:hover {
                background: $hcolor1;
                >p {
                    border-top-color: #666;
                }
            }
            &.active {
                background: $tcolor;
                color: #fff;
                &:hover {
                    >p {
                        border-top-color: #fff;
                    }
                }
            }
        }
    }
    >.detail {
        width: 250px;
        flex-grow: 0;
        flex-shrink: 0;
        border-right: 1px solid $bcolor1;
        position: relative;
        >.search {
            height: 60px;
            text-align: center;
            vertical-align: middle;
            position: relative;
            border-bottom: 1px solid $bcolor1;
            >.icon {
                font-size: 16px;
                fill: $tcolor2;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                margin-left: 9px;
                cursor: pointer;
                &:hover {
                    fill: $tcolor;
                }
            }
            >input {
                width: 160px;
                height: 36px;
                margin-top: 12px;
                border: 1px solid $bcolor1;
                border-radius: 18px;
                padding: 0 28px;
                &:focus {
                    outline: none;
                }
            }
        }
        >.widget {
            // width: 100%;height: 100%;
            .book {
                cursor: pointer;
                padding: 5px 0 5px 20px;
                border-bottom: 1px solid $bcolor1;
                >.icon-wrapper {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding: 10px 0;
                    position: relative;
                    >span {
                        margin-left: 10px;
                    }
                    >.icon {
                        &:last-child {
                            margin-left: auto;
                            margin-right: 20px;
                            font-size: 16px;
                            fill: transparent;
                        }
                        &.revert {
                            position: absolute;
                            top: 50%;
                            right: 43px;
                            transform: translateY(-50%);
                            font-size: 16px;
                            fill: transparent;
                        }
                    }
                }
                >p {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding-bottom: 5px;
                    color: $tcolor3;
                }
                >span {
                    padding-bottom: 10px;
                    color: $tcolor4;
                }
                &:hover {
                    background: $hcolor2;
                    >.icon-wrapper {
                        >.icon {
                            &:last-child {
                                fill: $tcolor2;
                                &:hover {
                                    fill: $tcolor;
                                }
                            }
                            &.revert {
                                fill: $tcolor2;
                                &:hover {
                                    fill: $tcolor;
                                }
                            }
                        }
                    }
                    >p {
                        border-top-color: #666;
                    }
                }
                &.active {
                    background: $acolor;
                    >.icon-wrapper {
                        >.icon {
                            &:last-child {
                                display: inline;
                            }
                        }
                    }
                    &:hover {
                        >p {
                            border-top-color: #fff;
                        }
                    }
                }
                &.batch-type {
                    box-shadow: inset 0 0 2px #FF0000;
                }
            }
            >.no-note {
                width: 100%;
                // height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-top: 300px;
                >p {
                    margin-bottom: 10px;
                    color: $tcolor3;
                }
                >.el-btn {
                    padding: 8px 20px;
                    background: $tcolor;
                    color: #fff;
                    &:hover {
                        background: #337ed5;
                    }
                }
            }
            .batch {
                cursor: pointer;
                padding: 5px 0 5px 20px;
                border-bottom: 1px solid $bcolor1;
                position: relative;
                z-index: 1;
                background: #fff;
                >.icon-wrapper {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding: 10px 0;
                    position: relative;
                    >span {
                        margin-left: 10px;
                    }
                }
                >.option {
                    padding: 5px 0 5px 0;
                    text-align: center;
                    >span {
                        margin: 0 5px;
                        padding: 4px 10px;
                        border-radius: 15px;
                        background: #ddd;
                        color: $tcolor2;
                        &.info {
                            background: #fff;
                            color: $tcolor4;
                        }
                    }
                }
                &:hover {
                    background: $hcolor2;
                    >.option {
                        >span {
                            &.info {
                                background: $hcolor2;
                            }
                        }
                    }
                }
            }
        }
        >.scrollbar {
            position: absolute;
            right: 0;
            top: 133px;
            width: 15px;
            >.slider-wrapper{
                width: 100%;height: 100%;background: #666;position: relative;
                >.slider{
                    width: 100%;height: 40%;background:$tcolor;
                    transform: translateY(0);
                    transition: all .3s;
                }
            }
        }
    }
}