$tcolor:#409EFF;
$success:#67C23A;
$warning:#E6A23C;
$danger:#F56C6C;
$info:#909399;
$tcolor1:#303133;
$tcolor2:#606266;
$tcolor3:#909399;
$tcolor4:#C0C4CC;
$bcolor1:#DCDFE6;
$bcolor2:#E4E7ED;
$bcolor3:#EBEEF5;
$bcolor4:#F2F6FC;
$hcolor:#accef7;